{
  "extends": "@antfu", // 導入 Anthony Fu 大老的 eslint 設定 ( 若想置換 airbnb 或 standard 也是自這邊導入 )
  "rules": { // 額外的設定規則
    "no-console": 0,
    "no-unused-vars": 0,
    "no-alert": 0,
    "quote-props": 0,
    "operator-linebreak": 0,
    "antfu/if-newline": 0,
    "vue/singleline-html-element-content-newline": 0,
    "vue/html-self-closing": 0,
    "comma-dangle": 0,
    "@typescript-eslint/comma-dangle": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/brace-style": 0,
    "@typescript-eslint/consistent-type-definitions": 0,
    "antfu/generic-spacing": 0
  }
}
